@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Zhi+Mang+Xing&display=swap");

* {
  margin: 0;
}

:root {
  --primarycolor: white;
  --greencolor: rgba(12, 255, 12, 0.8);
  --verystylish: "Pacifico", cursive;
  --stylishfont: "Zhi Mang Xing", cursive;
  --boldfont: "Lato", sans-serif;
  --greycolor: rgba(88, 86, 88, 0.5);
  --mainTransition: transition 0.3s ease-in-out;
}
.main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("main-bcg.jpeg") no-repeat;

  width: 100vw;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
.header {
  font-family: var(--verystylish);
  color: var(--greencolor);

  padding-top: 17em;
  padding-bottom: 2em;
  letter-spacing: 3px;
  animation: slideFromRight 5s ease-in-out;
}
.header-line {
  font-family: var(--boldfont);
  color: var(--primarycolor);
  letter-spacing: 6px;
  animation: slideFromLeft 5s ease-in-out;
  margin-bottom: 20px;
}
.main-button {
  background: var(--greencolor);

  margin: 1em;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: var(--greycolor);
  letter-spacing: 3px;
  text-transform: uppercase;
  outline: 0.2rem solid var(--greencolor);
  border: 0;

  outline-offset: 4px;
  cursor: pointer;
  animation: show 5s ease-in-out 1;
}

.main-button:hover {
  color: var(--primarycolor);
  opacity: 0.7;
}
/*Check some error in  animation*/
@keyframes show {
  0% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
  }

  50% {
    transform: translateX(-200px);
  }

  75% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
  }

  50% {
    transform: translateX(200px);
  }

  75% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.content-divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--primarycolor),
    var(--greencolor),
    var(--primarycolor),
    rgba(230, 45, 23)
  );
}

.skill-content {
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--mainTransition);
  background: var(--greycolor);
  display: inline-block;
  max-width: 13em;
  margin: 0 auto;
}

/*End of skills*/

/*about*/

/*End of about*/
