@import url("https://fonts.googleapis.com/css?family=Lato|Pacifico|Zhi+Mang+Xing&display=swap");

* {
  margin: 0;
}

:root {
  --primarycolor: white;
  --greencolor: rgba(12, 255, 12, 0.8);
  --verystylish: "Pacifico", cursive;
  --stylishfont: "Zhi Mang Xing", cursive;
  --boldfont: "Lato", sans-serif;
  --greycolor:rgba(88, 86, 88, 0.5);
}
.main {
  background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
   url("main-bcg.jpeg") no-repeat;
  
  width: 100vw;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
.header {
  font-family: var(--verystylish);
  color: var(--greencolor);

  padding-top: 17em;
  padding-bottom: 2em;
  letter-spacing: 3px;
}
.header-line {
  font-family: var(--boldfont);
  color: var(--primarycolor);
  letter-spacing: 6px;
}
.main-button {
  background: var(--greencolor);

  margin: 1em;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: var(--greycolor);
  letter-spacing: 3px;
  text-transform:uppercase;
  outline:0.2rem solid var(--greencolor);
  border:0;
  
  outline-offset: 4px;
  cursor: pointer;


}

  
